@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared styles */
.section-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.section-title {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}


/* navbar section styles */
nav {
    padding: 38px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #0D1321;
}

nav .nav-title {
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
}

nav .nav-button {
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}
.nav-button a:hover{
    color: white;
}
.nav-button:hover {
    background-color: #0D1321;
    transition: 0.8s;
}


/* banner section styles */
.banner-container {
    background-image: url("../assets/Hero-bg.png");
    padding: 25px 0 45px;
    margin-bottom: 75px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.banner-btn button {
    padding: 21px 24px;
    margin-top: 32px;
    border-radius: 8px;
    background: #0D1321;
    border: none;
    outline: none;
    cursor: pointer;
}
.banner-btn button a{
    text-decoration: none;
    color: #FFF;
    text-align: center;;
    font-size: 20px;
    font-weight: 600;
}
.banner-btn button a:hover {
    color: #0D1321;
}
.banner-btn button:hover {
    background-color: white;
    border: 2px solid #0D1321;
    transition: 0.8s;
}

/* why web development section styles */
.why-web-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 95px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 90px;
}

.why-web-container p {
    margin-top: 24px;
    margin-bottom: 46px;
}

.web-section {
    width: 946px;
    height: 335px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 16px;
}

.web1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.web2 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 32px;
}

.web-section-title {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.web-section-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.web-section-button button {
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.web-section-button button:hover{
    background-color: #0D1321;
    transition: 0.8s;
}
.web-section-button button a{
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.web-section-button button a:hover{
    color: white;
}


/* inspiration section styles */

.inspiration-container .section-title {
    margin-bottom: 24px;
}

.inspiration-video-container {
    width: 1140px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 150px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

/* target section styles */

.target-container {
    margin-bottom: 111px;
}

.target-container .section-title {
    margin-bottom: 24px;
}

.tech-container {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.tech-item {
    width: 365px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 40px;
}

.tech1 {
    background: rgba(255, 76, 30, 0.05);
}

.tech2 {
    background: rgba(0, 76, 232, 0.05);
}

.tech3 {
    background: rgba(255, 223, 0, 0.05);
}
.tech-img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.tech-img img{
    width: 100%;
    height: 100%;
}

.tech-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.tech-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.tech-item a {
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* next target section styles */

.next-target-container {
    margin-bottom: 48px;
}

.next-target-container .section-title {
    margin-bottom: 24px;
}

.next-tech-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.next-tech-item {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.next-tech-img {
    width: 10%;
}

.next-tech-img img {
    width: 100%;
}

.next-tech-content {
    width: 90%;
}

.next-tech-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.next-tech-description {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

.next-tech-content a {
    text-decoration: none;
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* support section styles */

.support-container {
    width: 1140px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("../assets/handshake.jpg");
    background-position: cover;
    background-size: cover;
    background-position: center;
    padding: 65px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.support-container h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.support-container p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}

input[type="text"] {
    width: 548px;
    padding: 20px;
    color: rgba(13, 19, 33, 0.40);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    outline: none;
}

input[type="submit"] {
    padding: 18px;
    width: 120px;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #FFF;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: #FFF;
    border-radius: 8px;
    background: #0D1321;
    border: 1px solid #FFF;
    transition: 0.8s;
}

/* footer section styles */

footer {
    padding: 32px 0;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}